 *{
            font-family: Arial, Helvetica, sans-serif;
        }
        html,
        body {
            background-color: #eeeeee;
            width: 100%;
            margin: 0;
            padding: 0;
            scroll-behavior: smooth ;
        }

        header {
            background: white;
            height: auto;
            box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        header img {
            content: url(Gambar/LaporAja!.png);
            height: auto;
            width: 170px;
            padding: 10px 10px 10px 30px; 
        }

        nav, ol, li,#aheader {
            list-style-type: none;
            float: right;
            position: relative;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            z-index: 500;
        }

        #aheader{
            color: #244166;
            padding: 5px;
            font-weight: bold;
            
        }

        #aheader:hover{
            color: white;
            background-color: #244166;
            border-radius: 5px;
            
            
        }

        li {
            margin-right: 40px;
            float: left;
        }

        header button {
            border: 0;
            height: 30px;
            width: 30px;
            border-radius: 5px;
            color: #244166;
            background-color: #33a3d8;
            margin: 10px 80px 10px 80px;
            font-weight: bold;
        }

        header button:hover{
            cursor: pointer;
        }

        .title{
            position: absolute;
            align-items: center;
            left: 50%;
            transform: translate(-50%);
            width: 90%;
            margin-top: 10%;
            color:  #244166;
            z-index: 3;
        }
        .title h1{
            font-size: 3vw;
        }
        .title h2{
            font-size: 1.5vw;
            line-height: 1.3;
        }

        #titletext{
            padding: 0% 0% 0% 20%;
        }

        main{
            display: block;
            align-items: center;

        }

        main button{
            position: relative;
            z-index: 2;
            width: 230px;
            height: 60px;
            border: 0px;
            background-color: #244166;
            color: white;
            border-radius: 5px;
            font-weight: bold;
            font-size: larger;
        }
        main button:hover{
            cursor: pointer;
            border: 3px solid  #244166;
            background-color: white;
            color:  #244166;
        }
        main section{
            border: 0px solid black;
        }
        #section1{
            position: relative;
            width: 100%;
        }
        .bg{
            position: relative;
            margin-bottom: 10%;
            width: 100%;
            overflow: hidden;
        }
        .bg img{
            width: 100%;
            opacity: 0.7;
            height: auto;
            padding-bottom: 5%;
           
         }

         #alur{
            position: relative;
            margin: 15% 0px 0px 0px;
            left: 50%;
            transform: translate(-50%);
            width: 80%;
            color:  #244166;
            text-align: center;
            vertical-align: top;
            z-index: 1;
            background-color: white;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            border: 1px solid whitesmoke;
            border-radius: 15px;
         }
         #alur label{
            font-size: xx-large;
            font-weight: bold;
         }

         #alur table {
            margin: 40px auto;
            border-collapse: collapse;
         }

         #alur td,tr,th{
            border: 0px solid black;
            width: 170px;
            padding: 10px;
         }

         .jalur{
            font-size: 30px ;
         }

         .jalur label{
            background-color: #244166;
            color: white;
            padding: 20px 30px;
            border-radius: 50%;
            display: inline-block;
         }
         .arrow{
            content: url(Gambar/Arrow.png);
            height: 150px;
         }

         #statistik{
            position: relative;
            margin: 0;
            left: 50%;
            transform: translate(-50%);
            color:  #244166;
            width: 100%;
            text-align: center;
            vertical-align: top;
            z-index: 1;

         }

         #statistik table{
            margin: 0 auto;
            border-collapse: collapse;
         }
         #statistik th{
            width: 10%;
            font-size: 50px;
            font-weight: bold;
            border-left: 2px solid #244166;
            border-right: 2px solid #244166;
            }

        #statistik tr,td {
            width: 10%;
            padding: 20px;
            border-left: 2px solid #244166;
            border-right: 2px solid #244166;
            font-weight: bold;
        }
        #statistik label{
            color: white;
            padding: 10px;
            background: #244166;
            border-radius: 5px;
        }

        #section2{
            position: relative;
            width: 100%;
        }

        #section3{
            position: relative;
            width: 100%;

        }

        #feed{
            position: relative;
            margin: 0% 0px 0px 0px;
            margin: 50px 0px 50px 0px;
            left: 50%;
            transform: translate(-50%);
            width: 90%;
            max-height: 90%x;
            color:  #244166;
            text-align: center;
            vertical-align: top;
            z-index: 1;
            border-radius: 15px;
        }

        #feed .postfeed{
            display: flex;
            width: 98%;
            max-height: 800px;
            display: inline-block;
            position: relative;
        }

        #feed label{
            font-size: xx-large;
            font-weight: bold;
            text-align: center;
         }

         #feed .posts{
            display: flex;
            padding: 15px 0px 15px 0px;
            margin: 5px;
            background-color: white; 
            border-radius: 15px; 
            width: 32%;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            position: relative;
            display: inline-block;
         }

         #feed .posts h4{
            overflow-wrap: break-word;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 1.4em; /* Tinggi satu baris */
            height: 2.8em;
            overflow: hidden;
            text-align: left;
            font-size: larger;
            margin: 10px 0px 10px 0px;
         }
         #feed .posts .image{
            position: relative;
            left: 50%;
            transform: translate(-50%);
            /*background: url(Gambar/Bg.png);*/
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: #33a3d8;
            width: 100%;
            height: 250px;
            background-color: aliceblue;
         }
         #feed .posts article{
            margin: 0px 20px 0px 20px;
         }

         #feed .posts label{
            font-size: medium;
            font-weight: bolder;
            text-align: left;
            
         }
         #feed .posts p{
            margin: 0;
            font-size: medium;
            text-align: left;
            border-radius: 5px;
            margin: 5px 0px 5px 0px;
         }
         #feed .posts p button{
            position: relative;
            z-index: 2;
            width: 80px;
            height: 25px;
            border: 0px;
            background-color: rgb(234, 255, 234);
            color: green;
            border: 1px solid green;
            border-radius: 20px;
            font-size: small;
            font-weight: normal;
         }
         #feed .posts p button:hover{
            cursor: default;
         }
         
         #feed .postfeed .posts a{
            color: #244166;
            padding: 0px;
            font-weight: bold;
            
        }




        footer section div{
            background-color: #244166;
            border-top: 2px solid #33a3d8;
            height: 50%;
            padding: 100px;
        }
        footer div{
            background-color: #244166;
            justify-content: space-evenly;
            color: white;
            border-top: 2px solid #33a3d8;
            height: 3%;
            padding: 20px;
        }